[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "volk"]
	path = volk
	url = git@github.com:zeux/volk.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
[submodule "implot3d"]
	path = implot3d
	url = git@github.com:brenocq/implot3d.git
[submodule "incbin"]
	path = incbin
	url = git@github.com:graphitemaster/incbin.git
